<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

   <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

   <script src="https://unpkg.com/vue@3"></script>
   <link rel="stylesheet" type="text/css" href="css/style.css">
 
   <title>Who pays the bill</title>
</head>

<body>
    <div id="app">
       <div id="names" class="container" v-if="state">
         <div class="logo">
            <h1>Who pays the bill?</h1>
         </div>
         <div class="input_container">
            <input type="text" v-model.trim="inputName">
            <button @click="addNameToList">Add</button>
         </div>
         <div 
            class="error_label animate__animated animate__fadeInDown"
            v-if="showError"
         >
            {{ error }}
         </div>
         <div class="list_of_names">
            <div
               v-for="(name, index) in names"
               :key="name"
               @click="removeName(index)"
               class="animate__animated animate__fadeIn"
            >
               {{name}}
            </div>
         </div>
         <div
            v-if="isReady"
            class="animate__animated animate__bounceIn"
         >
            <div class="action_button" @click="showResults">
              Check the looser
            </div>
         </div>
       </div>
       <div id="result" class="container animate__animated animate__fadeIn" v-if="!state">
         <div class="result_container">
            <h1>The looser is:</h1>
            <div class="result_value">
               {{ result }}
            </div>
            <div class="action_button"
               @click="resetApp"
            >
               Start over
            </div>
            <br>
            <div class="action_button btn2"
               @click="getNewResult"
            >
               Don't like it, get a new name
            </div>
         </div>
       </div>
    </div>
 </body>
 
 <script src="js/app.js"></script>
</html>
